@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
@import "_basic.scss";

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: map-get($colors, cream);
  height: 100vh;

  @include display-flex(row, nowrap);
  align-items: center;
  justify-content: center;
}

.product {
  margin: 1rem;
  background-color: map-get($colors, white);
  border-radius: 0.5rem;
  overflow: hidden;
  @media (min-width: 718px) {
    max-width: calc(585.14px + 600px);
    max-height: 80vh;
    margin: auto;
    @include display-flex(row, nowrap);
    justify-content: center;
    max-width: 600px;
  }
}

.product--content {
  padding: 1rem;
  @include display-flex(column, nowrap);
  gap: 1rem;
  @media (min-width: 718px) {
    @include display-flex(column, nowrap);
    justify-content: flex-start;
    padding: 1rem 2rem;
    margin: 0;
  }
}
.product__subtitle {
  letter-spacing: 8px;
  color: map-get($colors, dark--grayish--blue);
  text-transform: uppercase;
  @media (min-width: 718px) {
    margin: 0.5em;
  }
}

.product__title {
  color: map-get($colors, very--dark--blue);
  font-family: "Fraunces", serif;
  font-weight: map-get($font-weights, regular);
  font-size: 2rem;
  @media (min-width: 718px) {
    font-weight: map-get($font-weights, bold);
  }
}

.product__description {
  font-size: 0.9rem;
  color: map-get($colors, dark--grayish--blue);
  line-height: 1.2rem;
  @media (min-width: 718px) {
    font-size: 1em;
  }
}

.product--price {
  @include display-flex(row, wrap);
  align-items: center;
  // for screen readers and accessibility
  .visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .product--price__new {
    color: map-get($colors, dark--cyan);
    font-size: 2.2rem;
    font-weight: bold;
  }
  .product--price__original {
    margin: 0rem 1rem;
    color: map-get($colors, dark--grayish--blue);
    text-decoration: line-through;
  }
}

.product--add--to__cart {
  background-color: map-get($colors, dark--cyan);
  color: map-get($colors, white);
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 0;
  font-weight: map-get($font-weights, bold);
  padding: 1rem;
  cursor: pointer;
  @include display-flex(row, nowrap);
  justify-content: center;
  align-items: center;

  &:is(:hover, :active) {
    cursor: pointer;
    background-color: darken(map-get($colors, dark--cyan), 10%);
  }
}

.product--add--to__cart[data-icon="shopping-cart"]::before {
  content: "";
  width: 15px;
  height: 16px;
  background-image: url("../images/icon-cart.svg");
  margin: 0em 1em;
}
